# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/

# Translations
*.mo
*.pot

# Environments
.env
.venv
env/
venv/

# mypy / ruff
.mypy_cache/
.ruff_cache/

# other
.DS_Store
.qgis-settings
